/* Utilities */
/* Layouts */
/* Area layout */
.l-area-3 {
  display: grid;
}
.l-area-3--abc-vertical {
  grid-template-areas: "a" "b" "c";
}
.l-area-3--abc-horizontal {
  grid-template-areas: "a b c";
}
.l-area-3--acb-vertical {
  grid-template-areas: "a" "c" "b";
}
.l-area-3--acb-horizontal {
  grid-template-areas: "a c b";
}
.l-area-3--bac-vertical {
  grid-template-areas: "b" "a" "c";
}
.l-area-3--bac-horizontal {
  grid-template-areas: "b a c";
}
.l-area-3--bca-vertical {
  grid-template-areas: "b" "c" "a";
}
.l-area-3--bca-horizontal {
  grid-template-areas: "b c a";
}
.l-area-3--cba-vertical {
  grid-template-areas: "c" "b" "a";
}
.l-area-3--cba-horizontal {
  grid-template-areas: "c b a";
}
.l-area-3--cab-vertical {
  grid-template-areas: "c" "a" "b";
}
.l-area-3--cab-horizontal {
  grid-template-areas: "c a b";
}
.l-area-3__a {
  grid-area: a;
}
.l-area-3__b {
  grid-area: b;
}
.l-area-3__c {
  grid-area: c;
}

@media (min-width: 768px) {
  .l-area-3 {
    display: grid;
  }
  .l-area-3--abc-vertical\@tablet {
    grid-template-areas: "a" "b" "c";
  }
  .l-area-3--abc-horizontal\@tablet {
    grid-template-areas: "a b c";
  }
  .l-area-3--acb-vertical\@tablet {
    grid-template-areas: "a" "c" "b";
  }
  .l-area-3--acb-horizontal\@tablet {
    grid-template-areas: "a c b";
  }
  .l-area-3--bac-vertical\@tablet {
    grid-template-areas: "b" "a" "c";
  }
  .l-area-3--bac-horizontal\@tablet {
    grid-template-areas: "b a c";
  }
  .l-area-3--bca-vertical\@tablet {
    grid-template-areas: "b" "c" "a";
  }
  .l-area-3--bca-horizontal\@tablet {
    grid-template-areas: "b c a";
  }
  .l-area-3--cba-vertical\@tablet {
    grid-template-areas: "c" "b" "a";
  }
  .l-area-3--cba-horizontal\@tablet {
    grid-template-areas: "c b a";
  }
  .l-area-3--cab-vertical\@tablet {
    grid-template-areas: "c" "a" "b";
  }
  .l-area-3--cab-horizontal\@tablet {
    grid-template-areas: "c a b";
  }
  .l-area-3__a\@tablet {
    grid-area: a;
  }
  .l-area-3__b\@tablet {
    grid-area: b;
  }
  .l-area-3__c\@tablet {
    grid-area: c;
  }
}
@media (min-width: 992px) {
  .l-area-3 {
    display: grid;
  }
  .l-area-3--abc-vertical\@desktop {
    grid-template-areas: "a" "b" "c";
  }
  .l-area-3--abc-horizontal\@desktop {
    grid-template-areas: "a b c";
  }
  .l-area-3--acb-vertical\@desktop {
    grid-template-areas: "a" "c" "b";
  }
  .l-area-3--acb-horizontal\@desktop {
    grid-template-areas: "a c b";
  }
  .l-area-3--bac-vertical\@desktop {
    grid-template-areas: "b" "a" "c";
  }
  .l-area-3--bac-horizontal\@desktop {
    grid-template-areas: "b a c";
  }
  .l-area-3--bca-vertical\@desktop {
    grid-template-areas: "b" "c" "a";
  }
  .l-area-3--bca-horizontal\@desktop {
    grid-template-areas: "b c a";
  }
  .l-area-3--cba-vertical\@desktop {
    grid-template-areas: "c" "b" "a";
  }
  .l-area-3--cba-horizontal\@desktop {
    grid-template-areas: "c b a";
  }
  .l-area-3--cab-vertical\@desktop {
    grid-template-areas: "c" "a" "b";
  }
  .l-area-3--cab-horizontal\@desktop {
    grid-template-areas: "c a b";
  }
  .l-area-3__a\@desktop {
    grid-area: a;
  }
  .l-area-3__b\@desktop {
    grid-area: b;
  }
  .l-area-3__c\@desktop {
    grid-area: c;
  }
}
/* Layout flex */
.l-flex {
  display: flex;
}
.l-flex--flex-direction-row {
  flex-direction: row;
}
.l-flex--flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.l-flex--flex-direction-column {
  flex-direction: column;
}
.l-flex--flex-direction-column-reverse {
  flex-direction: column-reverse;
}
.l-flex--align-items-stretch {
  align-items: stretch;
}
.l-flex--align-items-flex-start {
  align-items: flex-start;
}
.l-flex--align-items-flex-end {
  align-items: flex-end;
}
.l-flex--align-items-center {
  align-items: center;
}
.l-flex--align-items-baseline {
  align-items: baseline;
}
.l-flex--justify-content-flex-start {
  justify-content: flex-start;
}
.l-flex--justify-content-flex-end {
  justify-content: flex-end;
}
.l-flex--justify-content-start {
  justify-content: start;
}
.l-flex--justify-content-end {
  justify-content: end;
}
.l-flex--justify-content-left {
  justify-content: left;
}
.l-flex--justify-content-right {
  justify-content: right;
}
.l-flex--justify-content-center {
  justify-content: center;
}
.l-flex--justify-content-space-between {
  justify-content: space-between;
}
.l-flex--justify-content-space-around {
  justify-content: space-around;
}
.l-flex--justify-content-space-evenly {
  justify-content: space-evenly;
}
.l-flex--align-content-flex-start {
  align-content: flex-start;
}
.l-flex--align-content-flex-end {
  align-content: flex-end;
}
.l-flex--align-content-start {
  align-content: start;
}
.l-flex--align-content-end {
  align-content: end;
}
.l-flex--align-content-left {
  align-content: left;
}
.l-flex--align-content-right {
  align-content: right;
}
.l-flex--align-content-center {
  align-content: center;
}
.l-flex--align-content-space-between {
  align-content: space-between;
}
.l-flex--align-content-space-around {
  align-content: space-around;
}
.l-flex--align-content-space-evenly {
  align-content: space-evenly;
}
.l-flex--flex-wrap-nowrap {
  flex-wrap: nowrap;
}
.l-flex--flex-wrap-wrap {
  flex-wrap: wrap;
}
.l-flex--flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.l-flex--gap-1 {
  gap: 0px;
}
.l-flex--gap-2 {
  gap: 2px;
}
.l-flex--gap-3 {
  gap: 4px;
}
.l-flex--gap-4 {
  gap: 6px;
}
.l-flex--gap-5 {
  gap: 8px;
}
.l-flex--gap-6 {
  gap: 16px;
}
.l-flex__item--order-1 {
  order: 1;
}
.l-flex__item--order-2 {
  order: 2;
}
.l-flex__item--order-3 {
  order: 3;
}
.l-flex__item--order-4 {
  order: 4;
}
.l-flex__item--order-5 {
  order: 5;
}
.l-flex__item--order-6 {
  order: 6;
}
.l-flex__item--order-7 {
  order: 7;
}
.l-flex__item--order-8 {
  order: 8;
}
.l-flex__item--order-9 {
  order: 9;
}
.l-flex__item--order-10 {
  order: 10;
}
.l-flex__item--order-11 {
  order: 11;
}
.l-flex__item--order-12 {
  order: 12;
}
.l-flex__item--order-13 {
  order: 13;
}
.l-flex__item--order-14 {
  order: 14;
}
.l-flex__item--order-15 {
  order: 15;
}
.l-flex__item--order-16 {
  order: 16;
}
.l-flex__item--order-17 {
  order: 17;
}
.l-flex__item--order-18 {
  order: 18;
}
.l-flex__item--order-19 {
  order: 19;
}
.l-flex__item--order-20 {
  order: 20;
}
.l-flex__item--flex-grow-1 {
  flex-grow: 1;
}
.l-flex__item--flex-grow-2 {
  flex-grow: 2;
}
.l-flex__item--flex-grow-3 {
  flex-grow: 3;
}
.l-flex__item--flex-grow-4 {
  flex-grow: 4;
}
.l-flex__item--flex-grow-5 {
  flex-grow: 5;
}
.l-flex__item--flex-grow-6 {
  flex-grow: 6;
}
.l-flex__item--flex-grow-7 {
  flex-grow: 7;
}
.l-flex__item--flex-grow-8 {
  flex-grow: 8;
}
.l-flex__item--flex-grow-9 {
  flex-grow: 9;
}
.l-flex__item--flex-grow-10 {
  flex-grow: 10;
}
.l-flex__item--flex-grow-11 {
  flex-grow: 11;
}
.l-flex__item--flex-grow-12 {
  flex-grow: 12;
}
.l-flex__item--flex-grow-13 {
  flex-grow: 13;
}
.l-flex__item--flex-grow-14 {
  flex-grow: 14;
}
.l-flex__item--flex-grow-15 {
  flex-grow: 15;
}
.l-flex__item--flex-grow-16 {
  flex-grow: 16;
}
.l-flex__item--flex-grow-17 {
  flex-grow: 17;
}
.l-flex__item--flex-grow-18 {
  flex-grow: 18;
}
.l-flex__item--flex-grow-19 {
  flex-grow: 19;
}
.l-flex__item--flex-grow-20 {
  flex-grow: 20;
}
.l-flex__item--flex-shrink-1 {
  flex-shrink: 1;
}
.l-flex__item--flex-shrink-2 {
  flex-shrink: 2;
}
.l-flex__item--flex-shrink-3 {
  flex-shrink: 3;
}
.l-flex__item--flex-shrink-4 {
  flex-shrink: 4;
}
.l-flex__item--flex-shrink-5 {
  flex-shrink: 5;
}
.l-flex__item--flex-shrink-6 {
  flex-shrink: 6;
}
.l-flex__item--flex-shrink-7 {
  flex-shrink: 7;
}
.l-flex__item--flex-shrink-8 {
  flex-shrink: 8;
}
.l-flex__item--flex-shrink-9 {
  flex-shrink: 9;
}
.l-flex__item--flex-shrink-10 {
  flex-shrink: 10;
}
.l-flex__item--flex-shrink-11 {
  flex-shrink: 11;
}
.l-flex__item--flex-shrink-12 {
  flex-shrink: 12;
}
.l-flex__item--flex-shrink-13 {
  flex-shrink: 13;
}
.l-flex__item--flex-shrink-14 {
  flex-shrink: 14;
}
.l-flex__item--flex-shrink-15 {
  flex-shrink: 15;
}
.l-flex__item--flex-shrink-16 {
  flex-shrink: 16;
}
.l-flex__item--flex-shrink-17 {
  flex-shrink: 17;
}
.l-flex__item--flex-shrink-18 {
  flex-shrink: 18;
}
.l-flex__item--flex-shrink-19 {
  flex-shrink: 19;
}
.l-flex__item--flex-shrink-20 {
  flex-shrink: 20;
}
.l-flex__item--flex-basis-1 {
  flex-basis: 10%;
}
.l-flex__item--flex-basis-2 {
  flex-basis: 20%;
}
.l-flex__item--flex-basis-3 {
  flex-basis: 30%;
}
.l-flex__item--flex-basis-4 {
  flex-basis: 40%;
}
.l-flex__item--flex-basis-5 {
  flex-basis: 50%;
}
.l-flex__item--flex-basis-6 {
  flex-basis: 60%;
}
.l-flex__item--flex-basis-7 {
  flex-basis: 70%;
}
.l-flex__item--flex-basis-8 {
  flex-basis: 80%;
}
.l-flex__item--flex-basis-9 {
  flex-basis: 90%;
}
.l-flex__item--flex-basis-10 {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .l-flex {
    display: flex;
  }
  .l-flex--flex-direction-row\@tablet {
    flex-direction: row;
  }
  .l-flex--flex-direction-row-reverse\@tablet {
    flex-direction: row-reverse;
  }
  .l-flex--flex-direction-column\@tablet {
    flex-direction: column;
  }
  .l-flex--flex-direction-column-reverse\@tablet {
    flex-direction: column-reverse;
  }
  .l-flex--align-items-stretch\@tablet {
    align-items: stretch;
  }
  .l-flex--align-items-flex-start\@tablet {
    align-items: flex-start;
  }
  .l-flex--align-items-flex-end\@tablet {
    align-items: flex-end;
  }
  .l-flex--align-items-center\@tablet {
    align-items: center;
  }
  .l-flex--align-items-baseline\@tablet {
    align-items: baseline;
  }
  .l-flex--justify-content-flex-start\@tablet {
    justify-content: flex-start;
  }
  .l-flex--justify-content-flex-end\@tablet {
    justify-content: flex-end;
  }
  .l-flex--justify-content-start\@tablet {
    justify-content: start;
  }
  .l-flex--justify-content-end\@tablet {
    justify-content: end;
  }
  .l-flex--justify-content-left\@tablet {
    justify-content: left;
  }
  .l-flex--justify-content-right\@tablet {
    justify-content: right;
  }
  .l-flex--justify-content-center\@tablet {
    justify-content: center;
  }
  .l-flex--justify-content-space-between\@tablet {
    justify-content: space-between;
  }
  .l-flex--justify-content-space-around\@tablet {
    justify-content: space-around;
  }
  .l-flex--justify-content-space-evenly\@tablet {
    justify-content: space-evenly;
  }
  .l-flex--align-content-flex-start\@tablet {
    align-content: flex-start;
  }
  .l-flex--align-content-flex-end\@tablet {
    align-content: flex-end;
  }
  .l-flex--align-content-start\@tablet {
    align-content: start;
  }
  .l-flex--align-content-end\@tablet {
    align-content: end;
  }
  .l-flex--align-content-left\@tablet {
    align-content: left;
  }
  .l-flex--align-content-right\@tablet {
    align-content: right;
  }
  .l-flex--align-content-center\@tablet {
    align-content: center;
  }
  .l-flex--align-content-space-between\@tablet {
    align-content: space-between;
  }
  .l-flex--align-content-space-around\@tablet {
    align-content: space-around;
  }
  .l-flex--align-content-space-evenly\@tablet {
    align-content: space-evenly;
  }
  .l-flex--flex-wrap-nowrap\@tablet {
    flex-wrap: nowrap;
  }
  .l-flex--flex-wrap-wrap\@tablet {
    flex-wrap: wrap;
  }
  .l-flex--flex-wrap-wrap-reverse\@tablet {
    flex-wrap: wrap-reverse;
  }
  .l-flex--gap-1\@tablet {
    gap: 0px;
  }
  .l-flex--gap-2\@tablet {
    gap: 2px;
  }
  .l-flex--gap-3\@tablet {
    gap: 4px;
  }
  .l-flex--gap-4\@tablet {
    gap: 6px;
  }
  .l-flex--gap-5\@tablet {
    gap: 8px;
  }
  .l-flex--gap-6\@tablet {
    gap: 16px;
  }
  .l-flex__item--order-1\@tablet {
    order: 1;
  }
  .l-flex__item--order-2\@tablet {
    order: 2;
  }
  .l-flex__item--order-3\@tablet {
    order: 3;
  }
  .l-flex__item--order-4\@tablet {
    order: 4;
  }
  .l-flex__item--order-5\@tablet {
    order: 5;
  }
  .l-flex__item--order-6\@tablet {
    order: 6;
  }
  .l-flex__item--order-7\@tablet {
    order: 7;
  }
  .l-flex__item--order-8\@tablet {
    order: 8;
  }
  .l-flex__item--order-9\@tablet {
    order: 9;
  }
  .l-flex__item--order-10\@tablet {
    order: 10;
  }
  .l-flex__item--order-11\@tablet {
    order: 11;
  }
  .l-flex__item--order-12\@tablet {
    order: 12;
  }
  .l-flex__item--order-13\@tablet {
    order: 13;
  }
  .l-flex__item--order-14\@tablet {
    order: 14;
  }
  .l-flex__item--order-15\@tablet {
    order: 15;
  }
  .l-flex__item--order-16\@tablet {
    order: 16;
  }
  .l-flex__item--order-17\@tablet {
    order: 17;
  }
  .l-flex__item--order-18\@tablet {
    order: 18;
  }
  .l-flex__item--order-19\@tablet {
    order: 19;
  }
  .l-flex__item--order-20\@tablet {
    order: 20;
  }
  .l-flex__item--flex-grow-1\@tablet {
    flex-grow: 1;
  }
  .l-flex__item--flex-grow-2\@tablet {
    flex-grow: 2;
  }
  .l-flex__item--flex-grow-3\@tablet {
    flex-grow: 3;
  }
  .l-flex__item--flex-grow-4\@tablet {
    flex-grow: 4;
  }
  .l-flex__item--flex-grow-5\@tablet {
    flex-grow: 5;
  }
  .l-flex__item--flex-grow-6\@tablet {
    flex-grow: 6;
  }
  .l-flex__item--flex-grow-7\@tablet {
    flex-grow: 7;
  }
  .l-flex__item--flex-grow-8\@tablet {
    flex-grow: 8;
  }
  .l-flex__item--flex-grow-9\@tablet {
    flex-grow: 9;
  }
  .l-flex__item--flex-grow-10\@tablet {
    flex-grow: 10;
  }
  .l-flex__item--flex-grow-11\@tablet {
    flex-grow: 11;
  }
  .l-flex__item--flex-grow-12\@tablet {
    flex-grow: 12;
  }
  .l-flex__item--flex-grow-13\@tablet {
    flex-grow: 13;
  }
  .l-flex__item--flex-grow-14\@tablet {
    flex-grow: 14;
  }
  .l-flex__item--flex-grow-15\@tablet {
    flex-grow: 15;
  }
  .l-flex__item--flex-grow-16\@tablet {
    flex-grow: 16;
  }
  .l-flex__item--flex-grow-17\@tablet {
    flex-grow: 17;
  }
  .l-flex__item--flex-grow-18\@tablet {
    flex-grow: 18;
  }
  .l-flex__item--flex-grow-19\@tablet {
    flex-grow: 19;
  }
  .l-flex__item--flex-grow-20\@tablet {
    flex-grow: 20;
  }
  .l-flex__item--flex-shrink-1\@tablet {
    flex-shrink: 1;
  }
  .l-flex__item--flex-shrink-2\@tablet {
    flex-shrink: 2;
  }
  .l-flex__item--flex-shrink-3\@tablet {
    flex-shrink: 3;
  }
  .l-flex__item--flex-shrink-4\@tablet {
    flex-shrink: 4;
  }
  .l-flex__item--flex-shrink-5\@tablet {
    flex-shrink: 5;
  }
  .l-flex__item--flex-shrink-6\@tablet {
    flex-shrink: 6;
  }
  .l-flex__item--flex-shrink-7\@tablet {
    flex-shrink: 7;
  }
  .l-flex__item--flex-shrink-8\@tablet {
    flex-shrink: 8;
  }
  .l-flex__item--flex-shrink-9\@tablet {
    flex-shrink: 9;
  }
  .l-flex__item--flex-shrink-10\@tablet {
    flex-shrink: 10;
  }
  .l-flex__item--flex-shrink-11\@tablet {
    flex-shrink: 11;
  }
  .l-flex__item--flex-shrink-12\@tablet {
    flex-shrink: 12;
  }
  .l-flex__item--flex-shrink-13\@tablet {
    flex-shrink: 13;
  }
  .l-flex__item--flex-shrink-14\@tablet {
    flex-shrink: 14;
  }
  .l-flex__item--flex-shrink-15\@tablet {
    flex-shrink: 15;
  }
  .l-flex__item--flex-shrink-16\@tablet {
    flex-shrink: 16;
  }
  .l-flex__item--flex-shrink-17\@tablet {
    flex-shrink: 17;
  }
  .l-flex__item--flex-shrink-18\@tablet {
    flex-shrink: 18;
  }
  .l-flex__item--flex-shrink-19\@tablet {
    flex-shrink: 19;
  }
  .l-flex__item--flex-shrink-20\@tablet {
    flex-shrink: 20;
  }
  .l-flex__item--flex-basis-1\@tablet {
    flex-basis: 10%;
  }
  .l-flex__item--flex-basis-2\@tablet {
    flex-basis: 20%;
  }
  .l-flex__item--flex-basis-3\@tablet {
    flex-basis: 30%;
  }
  .l-flex__item--flex-basis-4\@tablet {
    flex-basis: 40%;
  }
  .l-flex__item--flex-basis-5\@tablet {
    flex-basis: 50%;
  }
  .l-flex__item--flex-basis-6\@tablet {
    flex-basis: 60%;
  }
  .l-flex__item--flex-basis-7\@tablet {
    flex-basis: 70%;
  }
  .l-flex__item--flex-basis-8\@tablet {
    flex-basis: 80%;
  }
  .l-flex__item--flex-basis-9\@tablet {
    flex-basis: 90%;
  }
  .l-flex__item--flex-basis-10\@tablet {
    flex-basis: 100%;
  }
}
@media (min-width: 992px) {
  .l-flex {
    display: flex;
  }
  .l-flex--flex-direction-row\@desktop {
    flex-direction: row;
  }
  .l-flex--flex-direction-row-reverse\@desktop {
    flex-direction: row-reverse;
  }
  .l-flex--flex-direction-column\@desktop {
    flex-direction: column;
  }
  .l-flex--flex-direction-column-reverse\@desktop {
    flex-direction: column-reverse;
  }
  .l-flex--align-items-stretch\@desktop {
    align-items: stretch;
  }
  .l-flex--align-items-flex-start\@desktop {
    align-items: flex-start;
  }
  .l-flex--align-items-flex-end\@desktop {
    align-items: flex-end;
  }
  .l-flex--align-items-center\@desktop {
    align-items: center;
  }
  .l-flex--align-items-baseline\@desktop {
    align-items: baseline;
  }
  .l-flex--justify-content-flex-start\@desktop {
    justify-content: flex-start;
  }
  .l-flex--justify-content-flex-end\@desktop {
    justify-content: flex-end;
  }
  .l-flex--justify-content-start\@desktop {
    justify-content: start;
  }
  .l-flex--justify-content-end\@desktop {
    justify-content: end;
  }
  .l-flex--justify-content-left\@desktop {
    justify-content: left;
  }
  .l-flex--justify-content-right\@desktop {
    justify-content: right;
  }
  .l-flex--justify-content-center\@desktop {
    justify-content: center;
  }
  .l-flex--justify-content-space-between\@desktop {
    justify-content: space-between;
  }
  .l-flex--justify-content-space-around\@desktop {
    justify-content: space-around;
  }
  .l-flex--justify-content-space-evenly\@desktop {
    justify-content: space-evenly;
  }
  .l-flex--align-content-flex-start\@desktop {
    align-content: flex-start;
  }
  .l-flex--align-content-flex-end\@desktop {
    align-content: flex-end;
  }
  .l-flex--align-content-start\@desktop {
    align-content: start;
  }
  .l-flex--align-content-end\@desktop {
    align-content: end;
  }
  .l-flex--align-content-left\@desktop {
    align-content: left;
  }
  .l-flex--align-content-right\@desktop {
    align-content: right;
  }
  .l-flex--align-content-center\@desktop {
    align-content: center;
  }
  .l-flex--align-content-space-between\@desktop {
    align-content: space-between;
  }
  .l-flex--align-content-space-around\@desktop {
    align-content: space-around;
  }
  .l-flex--align-content-space-evenly\@desktop {
    align-content: space-evenly;
  }
  .l-flex--flex-wrap-nowrap\@desktop {
    flex-wrap: nowrap;
  }
  .l-flex--flex-wrap-wrap\@desktop {
    flex-wrap: wrap;
  }
  .l-flex--flex-wrap-wrap-reverse\@desktop {
    flex-wrap: wrap-reverse;
  }
  .l-flex--gap-1\@desktop {
    gap: 0px;
  }
  .l-flex--gap-2\@desktop {
    gap: 2px;
  }
  .l-flex--gap-3\@desktop {
    gap: 4px;
  }
  .l-flex--gap-4\@desktop {
    gap: 6px;
  }
  .l-flex--gap-5\@desktop {
    gap: 8px;
  }
  .l-flex--gap-6\@desktop {
    gap: 16px;
  }
  .l-flex__item--order-1\@desktop {
    order: 1;
  }
  .l-flex__item--order-2\@desktop {
    order: 2;
  }
  .l-flex__item--order-3\@desktop {
    order: 3;
  }
  .l-flex__item--order-4\@desktop {
    order: 4;
  }
  .l-flex__item--order-5\@desktop {
    order: 5;
  }
  .l-flex__item--order-6\@desktop {
    order: 6;
  }
  .l-flex__item--order-7\@desktop {
    order: 7;
  }
  .l-flex__item--order-8\@desktop {
    order: 8;
  }
  .l-flex__item--order-9\@desktop {
    order: 9;
  }
  .l-flex__item--order-10\@desktop {
    order: 10;
  }
  .l-flex__item--order-11\@desktop {
    order: 11;
  }
  .l-flex__item--order-12\@desktop {
    order: 12;
  }
  .l-flex__item--order-13\@desktop {
    order: 13;
  }
  .l-flex__item--order-14\@desktop {
    order: 14;
  }
  .l-flex__item--order-15\@desktop {
    order: 15;
  }
  .l-flex__item--order-16\@desktop {
    order: 16;
  }
  .l-flex__item--order-17\@desktop {
    order: 17;
  }
  .l-flex__item--order-18\@desktop {
    order: 18;
  }
  .l-flex__item--order-19\@desktop {
    order: 19;
  }
  .l-flex__item--order-20\@desktop {
    order: 20;
  }
  .l-flex__item--flex-grow-1\@desktop {
    flex-grow: 1;
  }
  .l-flex__item--flex-grow-2\@desktop {
    flex-grow: 2;
  }
  .l-flex__item--flex-grow-3\@desktop {
    flex-grow: 3;
  }
  .l-flex__item--flex-grow-4\@desktop {
    flex-grow: 4;
  }
  .l-flex__item--flex-grow-5\@desktop {
    flex-grow: 5;
  }
  .l-flex__item--flex-grow-6\@desktop {
    flex-grow: 6;
  }
  .l-flex__item--flex-grow-7\@desktop {
    flex-grow: 7;
  }
  .l-flex__item--flex-grow-8\@desktop {
    flex-grow: 8;
  }
  .l-flex__item--flex-grow-9\@desktop {
    flex-grow: 9;
  }
  .l-flex__item--flex-grow-10\@desktop {
    flex-grow: 10;
  }
  .l-flex__item--flex-grow-11\@desktop {
    flex-grow: 11;
  }
  .l-flex__item--flex-grow-12\@desktop {
    flex-grow: 12;
  }
  .l-flex__item--flex-grow-13\@desktop {
    flex-grow: 13;
  }
  .l-flex__item--flex-grow-14\@desktop {
    flex-grow: 14;
  }
  .l-flex__item--flex-grow-15\@desktop {
    flex-grow: 15;
  }
  .l-flex__item--flex-grow-16\@desktop {
    flex-grow: 16;
  }
  .l-flex__item--flex-grow-17\@desktop {
    flex-grow: 17;
  }
  .l-flex__item--flex-grow-18\@desktop {
    flex-grow: 18;
  }
  .l-flex__item--flex-grow-19\@desktop {
    flex-grow: 19;
  }
  .l-flex__item--flex-grow-20\@desktop {
    flex-grow: 20;
  }
  .l-flex__item--flex-shrink-1\@desktop {
    flex-shrink: 1;
  }
  .l-flex__item--flex-shrink-2\@desktop {
    flex-shrink: 2;
  }
  .l-flex__item--flex-shrink-3\@desktop {
    flex-shrink: 3;
  }
  .l-flex__item--flex-shrink-4\@desktop {
    flex-shrink: 4;
  }
  .l-flex__item--flex-shrink-5\@desktop {
    flex-shrink: 5;
  }
  .l-flex__item--flex-shrink-6\@desktop {
    flex-shrink: 6;
  }
  .l-flex__item--flex-shrink-7\@desktop {
    flex-shrink: 7;
  }
  .l-flex__item--flex-shrink-8\@desktop {
    flex-shrink: 8;
  }
  .l-flex__item--flex-shrink-9\@desktop {
    flex-shrink: 9;
  }
  .l-flex__item--flex-shrink-10\@desktop {
    flex-shrink: 10;
  }
  .l-flex__item--flex-shrink-11\@desktop {
    flex-shrink: 11;
  }
  .l-flex__item--flex-shrink-12\@desktop {
    flex-shrink: 12;
  }
  .l-flex__item--flex-shrink-13\@desktop {
    flex-shrink: 13;
  }
  .l-flex__item--flex-shrink-14\@desktop {
    flex-shrink: 14;
  }
  .l-flex__item--flex-shrink-15\@desktop {
    flex-shrink: 15;
  }
  .l-flex__item--flex-shrink-16\@desktop {
    flex-shrink: 16;
  }
  .l-flex__item--flex-shrink-17\@desktop {
    flex-shrink: 17;
  }
  .l-flex__item--flex-shrink-18\@desktop {
    flex-shrink: 18;
  }
  .l-flex__item--flex-shrink-19\@desktop {
    flex-shrink: 19;
  }
  .l-flex__item--flex-shrink-20\@desktop {
    flex-shrink: 20;
  }
  .l-flex__item--flex-basis-1\@desktop {
    flex-basis: 10%;
  }
  .l-flex__item--flex-basis-2\@desktop {
    flex-basis: 20%;
  }
  .l-flex__item--flex-basis-3\@desktop {
    flex-basis: 30%;
  }
  .l-flex__item--flex-basis-4\@desktop {
    flex-basis: 40%;
  }
  .l-flex__item--flex-basis-5\@desktop {
    flex-basis: 50%;
  }
  .l-flex__item--flex-basis-6\@desktop {
    flex-basis: 60%;
  }
  .l-flex__item--flex-basis-7\@desktop {
    flex-basis: 70%;
  }
  .l-flex__item--flex-basis-8\@desktop {
    flex-basis: 80%;
  }
  .l-flex__item--flex-basis-9\@desktop {
    flex-basis: 90%;
  }
  .l-flex__item--flex-basis-10\@desktop {
    flex-basis: 100%;
  }
}
/* Globals */
.g---border-radius {
  border-radius: 4px;
}
.g---border-radius-1 {
  border-radius: 0px;
}
.g---border-radius-2 {
  border-radius: 2px;
}
.g---border-radius-3 {
  border-radius: 4px;
}
.g---border-radius-4 {
  border-radius: 6px;
}
.g---border-radius-5 {
  border-radius: 8px;
}
.g---border-radius-6 {
  border-radius: 16px;
}

:root {
  --color-primary-1: #DCEBFE;
  --color-primary-2: #BEDBFE;
  --color-primary-3: #91C3FD;
  --color-primary-4: #61A6FA;
  --color-primary: #61A6FA;
  --color-primary-5: #3C83F6;
  --color-primary-6: #2463EB;
  --color-primary-7: #1D4FD7;
  --color-primary-8: #1E3FAE;
  --color-primary-9: #1E3B8A;
  --color-secondary-1: #FEF3C8;
  --color-secondary-2: #FDE68B;
  --color-secondary-3: #FCD44F;
  --color-secondary-4: #FBBD23;
  --color-secondary: #FBBD23;
  --color-secondary-5: #F59F0A;
  --color-secondary-6: #DB7706;
  --color-secondary-7: #B35309;
  --color-secondary-8: #91400D;
  --color-secondary-9: #76350F;
  --color-gray-1: #F3F4F6;
  --color-gray-2: #E5E7EB;
  --color-gray-3: #D1D5DB;
  --color-gray-4: #9CA3AF;
  --color-gray: #9CA3AF;
  --color-gray-5: #6B7280;
  --color-gray-6: #4B5563;
  --color-gray-7: #374151;
  --color-gray-8: #1F2937;
  --color-gray-9: #111827;
  --color-white-1: #FFFFFF;
  --color-white-2: #FCFCFC;
  --color-white-3: #FAFAFA;
  --color-white-4: #F7F7F7;
  --color-white: #F7F7F7;
  --color-white-5: #F5F5F5;
  --color-white-6: #F2F2F2;
  --color-white-7: #F0F0F0;
  --color-white-8: #EDEDED;
  --color-white-9: #EBEBEB;
  --color-red-1: #FEE1E1;
  --color-red-2: #FEC8C8;
  --color-red-3: #FCA6A6;
  --color-red-4: #F87272;
  --color-red: #F87272;
  --color-red-5: #EF4343;
  --color-red-6: #DC2828;
  --color-red-7: #BA1C1C;
  --color-red-8: #981B1B;
  --color-red-9: #811D1D;
  --color-green-1: #D1FAE5;
  --color-green-2: #A5F3CF;
  --color-green-3: #6EE7B7;
  --color-green-4: #36D399;
  --color-green: #36D399;
  --color-green-5: #10B77F;
  --color-green-6: #059467;
  --color-green-7: #047756;
  --color-green-8: #066046;
  --color-green-9: #064C39;
  --color-blue-1: #DCEBFE;
  --color-blue-2: #BEDBFE;
  --color-blue-3: #91C3FD;
  --color-blue-4: #61A6FA;
  --color-blue: #61A6FA;
  --color-blue-5: #3C83F6;
  --color-blue-6: #2463EB;
  --color-blue-7: #1D4FD7;
  --color-blue-8: #1E3FAE;
  --color-blue-9: #1E3B8A;
  --color-yellow-1: #FEF3C8;
  --color-yellow-2: #FDE68B;
  --color-yellow-3: #FCD44F;
  --color-yellow-4: #FBBD23;
  --color-yellow: #FBBD23;
  --color-yellow-5: #F59F0A;
  --color-yellow-6: #DB7706;
  --color-yellow-7: #B35309;
  --color-yellow-8: #91400D;
  --color-yellow-9: #76350F;
  --color-pink-1: #FCE8F4;
  --color-pink-2: #FBD0E8;
  --color-pink-3: #F9A9D5;
  --color-pink-4: #F471B5;
  --color-pink: #F471B5;
  --color-pink-5: #EC4699;
  --color-pink-6: #DB2979;
  --color-pink-7: #BF185D;
  --color-pink-8: #9B174C;
  --color-pink-9: #811842;
  --color-purple-1: #EBE7FE;
  --color-purple-2: #DED7FE;
  --color-purple-3: #C3B4FD;
  --color-purple-4: #A689FA;
  --color-purple: #A689FA;
  --color-purple-5: #895AF6;
  --color-purple-6: #7C3BED;
  --color-purple-7: #6B26D9;
  --color-purple-8: #5A21B5;
  --color-purple-9: #4D1D95;
}

.g--color-primary-1 {
  color: #DCEBFE;
}

.dark:g--color-primary-1 {
  color: #aacffd;
}

.g--color-primary-2 {
  color: #BEDBFE;
}

.dark:g--color-primary-2 {
  color: #8cbffd;
}

.g--color-primary-3 {
  color: #91C3FD;
}

.dark:g--color-primary-3 {
  color: #5fa8fc;
}

.g--color-primary-4 {
  color: #61A6FA;
}

.g--color-primary {
  color: #61A6FA;
}

.dark:g--color-primary-4 {
  color: #308af8;
}

.g--color-primary-5 {
  color: #3C83F6;
}

.dark:g--color-primary-5 {
  color: #0b64f4;
}

.g--color-primary-6 {
  color: #2463EB;
}

.dark:g--color-primary-6 {
  color: #124cca;
}

.g--color-primary-7 {
  color: #1D4FD7;
}

.dark:g--color-primary-7 {
  color: #173eaa;
}

.g--color-primary-8 {
  color: #1E3FAE;
}

.dark:g--color-primary-8 {
  color: #172f83;
}

.g--color-primary-9 {
  color: #1E3B8A;
}

.dark:g--color-primary-9 {
  color: #152960;
}

.g--color-secondary-1 {
  color: #FEF3C8;
}

.dark:g--color-secondary-1 {
  color: #fde896;
}

.g--color-secondary-2 {
  color: #FDE68B;
}

.dark:g--color-secondary-2 {
  color: #fcdb59;
}

.g--color-secondary-3 {
  color: #FCD44F;
}

.dark:g--color-secondary-3 {
  color: #fbc81d;
}

.g--color-secondary-4 {
  color: #FBBD23;
}

.g--color-secondary {
  color: #FBBD23;
}

.dark:g--color-secondary-4 {
  color: #e7a604;
}

.g--color-secondary-5 {
  color: #F59F0A;
}

.dark:g--color-secondary-5 {
  color: #c47f08;
}

.g--color-secondary-6 {
  color: #DB7706;
}

.dark:g--color-secondary-6 {
  color: #a95c05;
}

.g--color-secondary-7 {
  color: #B35309;
}

.dark:g--color-secondary-7 {
  color: #823c07;
}

.g--color-secondary-8 {
  color: #91400D;
}

.dark:g--color-secondary-8 {
  color: #622b09;
}

.g--color-secondary-9 {
  color: #76350F;
}

.dark:g--color-secondary-9 {
  color: #492109;
}

.g--color-gray-1 {
  color: #F3F4F6;
}

.dark:g--color-gray-1 {
  color: #d6d9e0;
}

.g--color-gray-2 {
  color: #E5E7EB;
}

.dark:g--color-gray-2 {
  color: #c8ccd5;
}

.g--color-gray-3 {
  color: #D1D5DB;
}

.dark:g--color-gray-3 {
  color: #b4bbc5;
}

.g--color-gray-4 {
  color: #9CA3AF;
}

.g--color-gray {
  color: #9CA3AF;
}

.dark:g--color-gray-4 {
  color: #808998;
}

.g--color-gray-5 {
  color: #6B7280;
}

.dark:g--color-gray-5 {
  color: #545964;
}

.g--color-gray-6 {
  color: #4B5563;
}

.dark:g--color-gray-6 {
  color: #353c46;
}

.g--color-gray-7 {
  color: #374151;
}

.dark:g--color-gray-7 {
  color: #222933;
}

.g--color-gray-8 {
  color: #1F2937;
}

.dark:g--color-gray-8 {
  color: #0d1116;
}

.g--color-gray-9 {
  color: #111827;
}

.dark:g--color-gray-9 {
  color: #020203;
}

.g--color-white-1 {
  color: #FFFFFF;
}

.dark:g--color-white-1 {
  color: #e6e6e6;
}

.g--color-white-2 {
  color: #FCFCFC;
}

.dark:g--color-white-2 {
  color: #e3e3e3;
}

.g--color-white-3 {
  color: #FAFAFA;
}

.dark:g--color-white-3 {
  color: #e1e1e1;
}

.g--color-white-4 {
  color: #F7F7F7;
}

.g--color-white {
  color: #F7F7F7;
}

.dark:g--color-white-4 {
  color: #dedede;
}

.g--color-white-5 {
  color: #F5F5F5;
}

.dark:g--color-white-5 {
  color: gainsboro;
}

.g--color-white-6 {
  color: #F2F2F2;
}

.dark:g--color-white-6 {
  color: #d9d9d9;
}

.g--color-white-7 {
  color: #F0F0F0;
}

.dark:g--color-white-7 {
  color: #d7d7d7;
}

.g--color-white-8 {
  color: #EDEDED;
}

.dark:g--color-white-8 {
  color: #d4d4d4;
}

.g--color-white-9 {
  color: #EBEBEB;
}

.dark:g--color-white-9 {
  color: #d2d2d2;
}

.g--color-red-1 {
  color: #FEE1E1;
}

.dark:g--color-red-1 {
  color: #fcb0b0;
}

.g--color-red-2 {
  color: #FEC8C8;
}

.dark:g--color-red-2 {
  color: #fd9696;
}

.g--color-red-3 {
  color: #FCA6A6;
}

.dark:g--color-red-3 {
  color: #fa7575;
}

.g--color-red-4 {
  color: #F87272;
}

.g--color-red {
  color: #F87272;
}

.dark:g--color-red-4 {
  color: #f64141;
}

.g--color-red-5 {
  color: #EF4343;
}

.dark:g--color-red-5 {
  color: #eb1414;
}

.g--color-red-6 {
  color: #DC2828;
}

.dark:g--color-red-6 {
  color: #b41d1d;
}

.g--color-red-7 {
  color: #BA1C1C;
}

.dark:g--color-red-7 {
  color: #8e1515;
}

.g--color-red-8 {
  color: #981B1B;
}

.dark:g--color-red-8 {
  color: #6d1313;
}

.g--color-red-9 {
  color: #811D1D;
}

.dark:g--color-red-9 {
  color: #571414;
}

.g--color-green-1 {
  color: #D1FAE5;
}

.dark:g--color-green-1 {
  color: #a3f5cb;
}

.g--color-green-2 {
  color: #A5F3CF;
}

.dark:g--color-green-2 {
  color: #78edb7;
}

.g--color-green-3 {
  color: #6EE7B7;
}

.dark:g--color-green-3 {
  color: #42e0a1;
}

.g--color-green-4 {
  color: #36D399;
}

.g--color-green {
  color: #36D399;
}

.dark:g--color-green-4 {
  color: #26b07d;
}

.g--color-green-5 {
  color: #10B77F;
}

.dark:g--color-green-5 {
  color: #0c885e;
}

.g--color-green-6 {
  color: #059467;
}

.dark:g--color-green-6 {
  color: #036345;
}

.g--color-green-7 {
  color: #047756;
}

.dark:g--color-green-7 {
  color: #024632;
}

.g--color-green-8 {
  color: #066046;
}

.dark:g--color-green-8 {
  color: #033023;
}

.g--color-green-9 {
  color: #064C39;
}

.dark:g--color-green-9 {
  color: #021d16;
}

.g--color-blue-1 {
  color: #DCEBFE;
}

.dark:g--color-blue-1 {
  color: #aacffd;
}

.g--color-blue-2 {
  color: #BEDBFE;
}

.dark:g--color-blue-2 {
  color: #8cbffd;
}

.g--color-blue-3 {
  color: #91C3FD;
}

.dark:g--color-blue-3 {
  color: #5fa8fc;
}

.g--color-blue-4 {
  color: #61A6FA;
}

.g--color-blue {
  color: #61A6FA;
}

.dark:g--color-blue-4 {
  color: #308af8;
}

.g--color-blue-5 {
  color: #3C83F6;
}

.dark:g--color-blue-5 {
  color: #0b64f4;
}

.g--color-blue-6 {
  color: #2463EB;
}

.dark:g--color-blue-6 {
  color: #124cca;
}

.g--color-blue-7 {
  color: #1D4FD7;
}

.dark:g--color-blue-7 {
  color: #173eaa;
}

.g--color-blue-8 {
  color: #1E3FAE;
}

.dark:g--color-blue-8 {
  color: #172f83;
}

.g--color-blue-9 {
  color: #1E3B8A;
}

.dark:g--color-blue-9 {
  color: #152960;
}

.g--color-yellow-1 {
  color: #FEF3C8;
}

.dark:g--color-yellow-1 {
  color: #fde896;
}

.g--color-yellow-2 {
  color: #FDE68B;
}

.dark:g--color-yellow-2 {
  color: #fcdb59;
}

.g--color-yellow-3 {
  color: #FCD44F;
}

.dark:g--color-yellow-3 {
  color: #fbc81d;
}

.g--color-yellow-4 {
  color: #FBBD23;
}

.g--color-yellow {
  color: #FBBD23;
}

.dark:g--color-yellow-4 {
  color: #e7a604;
}

.g--color-yellow-5 {
  color: #F59F0A;
}

.dark:g--color-yellow-5 {
  color: #c47f08;
}

.g--color-yellow-6 {
  color: #DB7706;
}

.dark:g--color-yellow-6 {
  color: #a95c05;
}

.g--color-yellow-7 {
  color: #B35309;
}

.dark:g--color-yellow-7 {
  color: #823c07;
}

.g--color-yellow-8 {
  color: #91400D;
}

.dark:g--color-yellow-8 {
  color: #622b09;
}

.g--color-yellow-9 {
  color: #76350F;
}

.dark:g--color-yellow-9 {
  color: #492109;
}

.g--color-pink-1 {
  color: #FCE8F4;
}

.dark:g--color-pink-1 {
  color: #f6bbde;
}

.g--color-pink-2 {
  color: #FBD0E8;
}

.dark:g--color-pink-2 {
  color: #f7a1d1;
}

.g--color-pink-3 {
  color: #F9A9D5;
}

.dark:g--color-pink-3 {
  color: #f679be;
}

.g--color-pink-4 {
  color: #F471B5;
}

.g--color-pink {
  color: #F471B5;
}

.dark:g--color-pink-4 {
  color: #f0429c;
}

.g--color-pink-5 {
  color: #EC4699;
}

.dark:g--color-pink-5 {
  color: #e71880;
}

.g--color-pink-6 {
  color: #DB2979;
}

.dark:g--color-pink-6 {
  color: #b31e61;
}

.g--color-pink-7 {
  color: #BF185D;
}

.dark:g--color-pink-7 {
  color: #921247;
}

.g--color-pink-8 {
  color: #9B174C;
}

.dark:g--color-pink-8 {
  color: #6f1036;
}

.g--color-pink-9 {
  color: #811842;
}

.dark:g--color-pink-9 {
  color: #56102c;
}

.g--color-purple-1 {
  color: #EBE7FE;
}

.dark:g--color-purple-1 {
  color: #c2b6fc;
}

.g--color-purple-2 {
  color: #DED7FE;
}

.dark:g--color-purple-2 {
  color: #b5a5fd;
}

.g--color-purple-3 {
  color: #C3B4FD;
}

.dark:g--color-purple-3 {
  color: #9b82fc;
}

.g--color-purple-4 {
  color: #A689FA;
}

.g--color-purple {
  color: #A689FA;
}

.dark:g--color-purple-4 {
  color: #8158f8;
}

.g--color-purple-5 {
  color: #895AF6;
}

.dark:g--color-purple-5 {
  color: #662af3;
}

.g--color-purple-6 {
  color: #7C3BED;
}

.dark:g--color-purple-6 {
  color: #5f15e0;
}

.g--color-purple-7 {
  color: #6B26D9;
}

.dark:g--color-purple-7 {
  color: #561eae;
}

.g--color-purple-8 {
  color: #5A21B5;
}

.dark:g--color-purple-8 {
  color: #45198a;
}

.g--color-purple-9 {
  color: #4D1D95;
}

.dark:g--color-purple-9 {
  color: #37156a;
}

/*# sourceMappingURL=main.css.map */
