/* Error: Undefined variable.
 *    ,
 * 81 |             $area: str-slice($areas, $area_index, $area_index);
 *    |                              ^^^^^^
 *    '
 *   03_layout\_l-area.scss 81:30  @import
 *   main.scss 5:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 81 \2502              $area: str-slice($areas, $area_index, $area_index);\d\a    \2502                               ^^^^^^\a    \2575 \a   03_layout\\_l-area.scss 81:30  @import\a   main.scss 5:9                 root stylesheet";
}
