.c-badge {
    --c-badge-background-color: var(--color-primary);
    --c-badge-color: var(--color-white);

    @include dark-mode {
        --c-badge-color: var(--color-grey-9);
    }

    background-color: var(--c-badge-background-color);
    color: var(--c-badge-color);

    font-family: var(--font-family);
    font-weight: 600;

    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 2px;

    cursor: pointer;

    &--primary {
        --c-badge-background-color: var(--color-primary);

        @include dark-mode {
            --c-badge-color: var(--color-grey-9);
        }
    }
    &--secondary {
        --c-badge-background-color: var(--color-secondary);

        @include dark-mode {
            --c-badge-color: var(--color-grey-9);
        }
    }
    &--success {
        --c-badge-background-color: var(--color-green);

        @include dark-mode {
            --c-badge-color: var(--color-grey-9);
        }
    }
    &--danger {
        --c-badge-background-color: var(--color-red);

        @include dark-mode {
            --c-badge-color: var(--color-grey-9);
        }
    }
    &--warning {
        --c-badge-background-color: var(--color-orange);
        --c-badge-color: var(--color-black);

        @include dark-mode {
            --c-badge-color: var(--color-grey-9);
        }
    }
    &--info {
        --c-badge-background-color: var(--color-purple);
        --c-badge-color: var(--color-black);

        @include dark-mode {
            --c-badge-color: var(--color-grey-9);
        }
    }
    &--light {
        --c-badge-background-color: var(--color-gray-3);
        --c-badge-color: var(--color-black);

        @include dark-mode {
            --c-badge-color: var(--color-grey-9);
        }
    }
    &--dark {
        --c-badge-background-color: var(--color-gray-9);

        @include dark-mode {
            --c-badge-color: var(--color-white);
        }
    }

    &__notification {
        --c-badge--notification-background-color: var(--color-primary);
        --c-badge--notification-color: var(--color-white);
    
        background-color: var(--c-badge--notification-background-color);
        color: var(--c-badge--notification-color);
        
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        width: 15px;
        height: 15px;
        padding: 5px;
        border-radius: 10px;
        
        &--danger {
            --c-badge--notification-background-color: var(--color-red);
        }
        &--light {
            --c-badge--notification-background-color: var(--color-white);
            --c-badge--notification-color: var(--color-black);
        }
        &--success {
            --c-badge--notification-background-color: var(--color-green);
        }
        &--primary {
            --c-badge--notification-background-color: var(--color-primary);
        }
    }
}