.c-button {
    --c-button-strong-color: var(--color-primary);
    --c-button-weak-color: var(--color-white);
    --c-button-font-family: var(--font-family);

    font-size: 16px;
    font-family: var(--c-button-font-family);

    border-color: var(--c-button-strong-color);
    background-color: var(--c-button-strong-color);
    color: var(--c-button-weak-color);

    border-radius: 6px;
    border-width: 1px;
    border-style: solid;

    padding: 12px;

    display: inline-block;

    cursor: pointer;

    &--color {
        &-primary {
            --c-button-strong-color: var(--color-primary);
        }
        
        &-secondary {
            --c-button-strong-color: var(--color-secondary);
        }
        
        &-danger {
            --c-button-strong-color: var(--color-red);
        }
        
        &-success {
            --c-button-strong-color: var(--color-green);
        }
        
        &-warning {
            --c-button-strong-color: var(--color-orange);
        }
        
        &-info {
            --c-button-strong-color: var(--color-purple);
        }
        
        &-dark {
            --c-button-strong-color: var(--color-gray-7);
        }
    }

    &--importance {
        &-secondary {
            border-color: var(--c-button-strong-color);
            background-color: var(--c-button-weak-color);
            color: var(--c-button-strong-color);
        }

        &-terciary {
            border-color: transparent;
            background-color: transparent;
            color: var(--c-button-strong-color);
        }
    }

    &--size {
        &-small {
            padding: 6px;
            font-size: 12px;
        }
        &-large {
            padding: 16px;
            font-size: 20px;
        }
    }
}

@each $size-name, $size in $media-sizes {
    @media (min-width: $size) {
        @if($media-position == 'right') {
            .c-button {
                &--color {
                    &-primary#{$media-separator}#{$size-name} {
                        --c-button-strong-color: var(--color-primary);
                    }
                    
                    &-secondary#{$media-separator}#{$size-name} {
                        --c-button-strong-color: var(--color-secondary);
                    }
                    
                    &-danger#{$media-separator}#{$size-name} {
                        --c-button-strong-color: var(--color-red);
                    }
                    
                    &-success#{$media-separator}#{$size-name} {
                        --c-button-strong-color: var(--color-green);
                    }
                    
                    &-warning#{$media-separator}#{$size-name} {
                        --c-button-strong-color: var(--color-orange);
                    }
                    
                    &-info#{$media-separator}#{$size-name} {
                        --c-button-strong-color: var(--color-purple);
                    }
                    
                    &-dark#{$media-separator}#{$size-name} {
                        --c-button-strong-color: var(--color-gray-7);
                    }
                }
            
                &--importance {
                    &-secondary#{$media-separator}#{$size-name} {
                        border-color: var(--c-button-strong-color);
                        background-color: var(--c-button-weak-color);
                        color: var(--c-button-strong-color);
                    }
            
                    &-terciary#{$media-separator}#{$size-name} {
                        border-color: transparent;
                        background-color: transparent;
                        color: var(--c-button-strong-color);
                    }
                }
            
                &--size {
                    &-small#{$media-separator}#{$size-name} {
                        padding: 6px;
                        font-size: 12px;
                    }
                    &-large#{$media-separator}#{$size-name} {
                        padding: 16px;
                        font-size: 20px;
                    }
                }
            }    
        } @else {
            .#{$size-name}#{$media-separator}c-button {
                &--color {
                    &-primary {
                        --c-button-strong-color: var(--color-primary);
                    }
                    
                    &-secondary {
                        --c-button-strong-color: var(--color-secondary);
                    }
                    
                    &-danger {
                        --c-button-strong-color: var(--color-red);
                    }
                    
                    &-success {
                        --c-button-strong-color: var(--color-green);
                    }
                    
                    &-warning {
                        --c-button-strong-color: var(--color-orange);
                    }
                    
                    &-info {
                        --c-button-strong-color: var(--color-purple);
                    }
                    
                    &-dark {
                        --c-button-strong-color: var(--color-gray-7);
                    }
                }
            
                &--importance {
                    &-secondary {
                        border-color: var(--c-button-strong-color);
                        background-color: var(--c-button-weak-color);
                        color: var(--c-button-strong-color);
                    }
            
                    &-terciary {
                        border-color: transparent;
                        background-color: transparent;
                        color: var(--c-button-strong-color);
                    }
                }
            
                &--size {
                    &-small {
                        padding: 6px;
                        font-size: 12px;
                    }
                    &-large {
                        padding: 16px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}