.c-card {
    --c-card-border-color: var(--color-gray-4);
    --c-card-title-font-family: var(--font-family);
    --c-card-text-font-family: var(--font-family);
    --c-card-border-radius-size: 20px;

    --c-card-image-placeholder-color: var(--color-gray-3);

    border: 1px solid var(--c-card-border-color);
    width: 300px;
    border-radius: var(--c-card-border-radius-size);
    overflow: hidden;

    display: flex;
    flex-direction: column;

    &--rounded {
        --c-card-border-radius-size: 20px;
    }
    &--spiked {
        --c-card-border-radius-size: 0px;
    }
    
    &__image {
        margin: 0;
        width: 100%;
        border-radius: 0;
        height: 180px;
        object-fit: cover;

        &--cover {
            object-fit: cover;
        }

        &--contain {
            object-fit: contain;
        }
    }

    &__body {
        padding: 20px;
    }

    &__title {
        font-family: var(--c-card-title-font-family);
        margin: 0;
    }

    &__text {
        font-family: var(--c-card-text-font-family);
    }

    &__button-container {
        width: 100%;
        display: flex;

        &--right {
            justify-content: flex-end;
        }
    }

    &__button {
        &--full-width {
            width: 100%;
        }
    }
}

@each $size-name, $size in $media-sizes {
    @media (min-width: $size) {
        @if($media-position == 'right') {
            .c-card {
                &--rounded#{$media-separator}#{$size-name} {
                    --c-card-border-radius-size: 20px;
                }
                &--spiked#{$media-separator}#{$size-name} {
                    --c-card-border-radius-size: 0px;
                }
                
                &__image {
                    &--cover#{$media-separator}#{$size-name} {
                        object-fit: cover;
                    }
            
                    &--contain#{$media-separator}#{$size-name} {
                        object-fit: contain;
                    }
                }
            
                &__button-container {
                    &--right#{$media-separator}#{$size-name} {
                        justify-content: flex-end;
                    }
                }
            
                &__button {
                    &--full-width#{$media-separator}#{$size-name} {
                        width: 100%;
                    }
                }
            }
        } @else {
            .#{$size-name}#{$media-separator}c-card {
                &--rounded {
                    --c-card-border-radius-size: 20px;
                }
                &--spiked {
                    --c-card-border-radius-size: 0px;
                }
                
                &__image {
                    &--cover {
                        object-fit: cover;
                    }
            
                    &--contain {
                        object-fit: contain;
                    }
                }
            
                &__button-container {
                    &--right {
                        justify-content: flex-end;
                    }
                }
            
                &__button {
                    &--full-width {
                        width: 100%;
                    }
                }
            }
        }
    }
}