// This component is only intended for development and mock purposes!

.c-dev-box {
    --c-dev-box-strong-color: var(--color-gray-3);
    --c-dev-box-weak-color: var(--color-gray-7);

    background-color: var(--c-dev-box-strong-color);
    color: var(--c-dev-box-weak-color);
    border: 1px solid var(--c-dev-box-strong-color);
    margin: 10px;
    min-height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);

    &--fixed-height {
        height: 50px;
    }
}