.c-tag {
    --c-tag-background-color: var(--color-primary);
    --c-tag-color: var(--color-white);
    --c-tag-font-family: var(--font-family);

    background-color: var(--c-tag-background-color);
    color: var(--c-tag-color);
    font-family: var(--c-tag-font-family);

    padding: 10px;
    border-radius: 10px;

    &--mono {
        --c-tag-font-family: var(--font-family-mono);
    }
    &--sans {
        --c-tag-font-family: var(--font-family-mono);
    }
    &--serif {
        --c-tag-font-family: var(--font-family-mono);
    }

    &--primary {
        --c-tag-background-color: var(--color-primary);
    }
    &--secondary {
        --c-tag-background-color: var(--color-secondary);
    }
    &--success {
        --c-tag-background-color: var(--color-green);
    }
    &--danger {
        --c-tag-background-color: var(--color-red);
    }
    &--warning {
        --c-tag-background-color: var(--color-orange);
    }
    &--info {
        --c-tag-background-color: var(--color-purple);
    }
    &--dark {
        --c-tag-background-color: var(--color-gray);
    }
}