@mixin dark-mode() {
    @media (prefers-color-scheme: dark) {
        @at-root #{selector-append(&, ':where(:root:not([data-theme=light]):not([data-theme=dark]) *)')} {
        @content;
        }
    }

    @at-root #{selector-append(&, ':where(:root[data-theme=dark] *)')} {
        @content;
    }
}

@mixin margin-horizontal($value) {
    margin-left: $value;
    margin-right: $value;
}
@mixin margin-vertical($value) {
    margin-top: $value;
    margin-bottom: $value;
}

@mixin padding-horizontal($value) {
    padding-left: $value;
    padding-right: $value;
}
@mixin padding-vertical($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin box-shadow($blur-radius, $x-axis, $y-axis) {
    -webkit-box-shadow: $x-axis $y-axis $blur-radius 0px rgba(0,0,0,0.75);
    -moz-box-shadow: $x-axis $y-axis $blur-radius 0px rgba(0,0,0,0.75);
    box-shadow: $x-axis $y-axis $blur-radius 0px rgba(0,0,0,0.75);
}

// Reponsive concept - WIP

/////////////
// LAYOUTS //
/////////////
// @mixin l-columns-generate-columns() {
//     @for $column from 1 through $max_columns {
//         &--#{$column} {
//             grid-template-columns: repeat($column, 1fr);
//         }
//     }
// }
// 
// @mixin l-columns-generate-items() {
//     &__area {
//         @for $span-num from 1 through 10 {
//             &--span-#{$span-num} {
//                 grid-column: span $span-num;
//             }
//         }
//     }
// }
// 
//////////////////
// MEDIA MIXINS //
//////////////////
// @mixin generate-responsive($class-name) {
//     @each $size_name, $size in $media_sizes {
//         @media (min-width: $size) {
//             $selector: '';
// 
//             @if($media-position == 'left') {
//                 $selector: #{$size_name}#{$media-separator}#{$class-name};
//             } @else {
//                 $selector: #{$class-name}#{$media-separator}#{$size_name};
//             }
// 
//             .#{$selector}{
//                 @content;
//             }
//         }
//     }
// }