// Prefixes
$global_prefix: 'g--';

$dark_mode_separator: ':'; // [':' (default)] dark:g--color-blue || ['@'] dark@g--color-blue
$dark_mode_keyword: 'dark'; // ['dark' (default)] dark:g--color-blue || ['foo'] foo:g--color-blue
$dark_mode_position: 'left'; // ['left' (default)] dark:g--color-blue || ['right'] g--color-blue:dark
$dark-mode-darken-percentage: 10%;

$media-separator : '\\@';
$media-position: 'right';

// Fonts
$font-family-url: 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'; // Paste any google fonts font link to replace the font
$font-family-name: '"Open Sans", sans-serif'; // Paste the font family name that you want to use

// Colors
$colors: (
    "primary": ("1": #DCEBFE, "2": #BEDBFE, "3": #91C3FD, "4": #61A6FA, "5": #3C83F6, "6": #2463EB, "7": #1D4FD7, "8": #1E3FAE, "9": #1E3B8A),
    "secondary": ("1": #FEF3C8, "2": #FDE68B, "3": #FCD44F, "4": #FBBD23, "5": #F59F0A, "6": #DB7706, "7": #B35309, "8": #91400D, "9": #76350F),

    "gray": ("1": #F3F4F6, "2": #E5E7EB, "3": #D1D5DB, "4": #9CA3AF, "5": #6B7280, "6": #4B5563, "7": #374151, "8": #1F2937, "9": #111827),
    "white": ("1": #FFFFFF, "2": #FCFCFC, "3": #FAFAFA, "4": #F7F7F7, "5": #F5F5F5, "6": #F2F2F2, "7": #F0F0F0, "8": #EDEDED, "9": #EBEBEB),

    "red": ("1": #FEE1E1, "2": #FEC8C8, "3": #FCA6A6, "4": #F87272, "5": #EF4343, "6": #DC2828, "7": #BA1C1C, "8": #981B1B, "9": #811D1D),
    "green": ("1": #D1FAE5, "2": #A5F3CF, "3": #6EE7B7, "4": #36D399, "5": #10B77F, "6": #059467, "7": #047756, "8": #066046, "9": #064C39),
    "blue": ("1": #DCEBFE, "2": #BEDBFE, "3": #91C3FD, "4": #61A6FA, "5": #3C83F6, "6": #2463EB, "7": #1D4FD7, "8": #1E3FAE, "9": #1E3B8A),
    "yellow": ("1": #FEF3C8, "2": #FDE68B, "3": #FCD44F, "4": #FBBD23, "5": #F59F0A, "6": #DB7706, "7": #B35309, "8": #91400D, "9": #76350F),
    "pink": ("1": #FCE8F4, "2": #FBD0E8, "3": #F9A9D5, "4": #F471B5, "5": #EC4699, "6": #DB2979, "7": #BF185D, "8": #9B174C, "9": #811842),
    "purple": ("1": #EBE7FE, "2": #DED7FE, "3": #C3B4FD, "4": #A689FA, "5": #895AF6, "6": #7C3BED, "7": #6B26D9, "8": #5A21B5, "9": #4D1D95)
);

// Media sizes
$media-sizes: ("movil": 576px, "tablet": 768px, "desktop": 992px);

// Border radius
$border-radius-size: ("1": 0px, "2": 2px, "3": 4px, "4": 6px, "5": 8px, "6": 16px);

// Flex
$flex-gap-size: ("1": 0px, "2": 2px, "3": 4px, "4": 6px, "5": 8px, "6": 16px);
$flex-basis-size: ("1": 10%, "2": 20%, "3": 30%, "4": 40%, "5": 50%, "6": 60%, "7": 70%, "8": 80%, "9": 90%, "10": 100%);
$flex-max-range: 20; // This is the max number of flex modifiers

// Columns layout
$max_columns: 10; // Max number of columns generated

// Rows layout
$max_rows: 10; // Max number of rows generated