/*
Nimbus CSS - Made by alesbe (https://github.com/alesbe)
MIT License - 2023
*/

/////////////////////////////
// PREFIXES AND SEPARATORS //
/////////////////////////////

// Globals
$global-prefix: 'g--';

// Media
$media-separator: '\\@';
$media-position: 'right';

// Dark mode
$dark-mode-keyword: 'dark';
$dark-mode-separator: '\\:';
$dark-mode-position: 'right';

///////////
// THEME //
///////////
// Fonts
$font-family-variants: (
    "sans":unquote("system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\" "),
    "default":unquote("system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\" "),
    "serif":unquote("Georgia, Cambria, \"Times New Roman\", Times, serif"),
    "mono":unquote("\"Roboto Mono\",Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\", monospace")
);

// Colors
$colors: (
    "primary": ("1": #DCEBFE, "2": #BEDBFE, "3": #91C3FD, "4": #61A6FA, "5": #3C83F6, "6": #2463EB, "7": #1D4FD7, "8": #1E3FAE, "9": #1E3B8A),
    "secondary": ("1": #FEF3C8, "2": #FDE68B, "3": #FCD44F, "4": #FBBD23, "5": #F59F0A, "6": #DB7706, "7": #B35309, "8": #91400D, "9": #76350F),

    "black": ("1": #000000, "2": #000000, "3": #000000, "4": #000000, "5": #000000, "6": #000000, "7": #000000, "8": #000000, "9": #000000),
    "gray": ("1": #F3F4F6, "2": #E5E7EB, "3": #D1D5DB, "4": #9CA3AF, "5": #6B7280, "6": #4B5563, "7": #374151, "8": #1F2937, "9": #111827),
    "white": ("1": #FFFFFF, "2": #FCFCFC, "3": #FAFAFA, "4": #F7F7F7, "5": #F5F5F5, "6": #F2F2F2, "7": #F0F0F0, "8": #EDEDED, "9": #EBEBEB),

    "red": ("1": #FEE1E1, "2": #FEC8C8, "3": #FCA6A6, "4": #F87272, "5": #EF4343, "6": #DC2828, "7": #BA1C1C, "8": #981B1B, "9": #811D1D),
    "green": ("1": #D1FAE5, "2": #A5F3CF, "3": #6EE7B7, "4": #36D399, "5": #10B77F, "6": #059467, "7": #047756, "8": #066046, "9": #064C39),
    "blue": ("1": #DCEBFE, "2": #BEDBFE, "3": #91C3FD, "4": #61A6FA, "5": #3C83F6, "6": #2463EB, "7": #1D4FD7, "8": #1E3FAE, "9": #1E3B8A),
    "yellow": ("1": #FEF3C8, "2": #FDE68B, "3": #FCD44F, "4": #FBBD23, "5": #F59F0A, "6": #DB7706, "7": #B35309, "8": #91400D, "9": #76350F),
    "pink": ("1": #FCE8F4, "2": #FBD0E8, "3": #F9A9D5, "4": #F471B5, "5": #EC4699, "6": #DB2979, "7": #BF185D, "8": #9B174C, "9": #811842),
    "purple": ("1": #EBE7FE, "2": #DED7FE, "3": #C3B4FD, "4": #A689FA, "5": #895AF6, "6": #7C3BED, "7": #6B26D9, "8": #5A21B5, "9": #4D1D95),
    "orange": ("1": #ffedd5, "2": #fed7aa, "3": #fdba74, "4": #fb923c, "5": #f97316, "6": #ea580c, "7": #c2410c, "8": #9a3412, "9": #7c2d12)
);

// Media sizes
$media-sizes: ("tablet": 576px, "desktop": 768px, "full-desktop": 992px);

////////////////////
// CONFIGURATIONS //
////////////////////

/////////////
// Globals //
/////////////
// Border radius
$border-radius-sizes: ("1": 0px, "2": 2px, "3": 4px, "4": 6px, "5": 8px, "6": 16px);

// Box shadow
$box-shadow-blur-radius-sizes: ("1": 0px, "2": 10px, "3": 20px, "4": 30px, "5": 40px, "6": 50px, "7": 60px, "8": 70px, "9": 80px, "10": 90px);

// Margin
$margin-sizes: ("1": 2px, "2": 4px, "3": 6px, "4": 8px, "5": 16px, "6": 20px, "7": 24px, "8": 28px, "9": 32px, "10": 36px, "12": 40px);

// Padding
$padding-sizes: ("1": 2px, "2": 4px, "3": 6px, "4": 8px, "5": 16px, "6": 20px, "7": 24px, "8": 28px, "9": 32px, "10": 36px, "12": 40px);

// Font size
$font-size-sizes: ("1": 0px, "2": 2px, "3": 4px, "4": 6px, "5": 8px, "6": 16px, "7": 20px, "8": 24px, "9": 28px, "10": 32px, "11": 36px, "12": 40px, "13": 48px, "14": 54px, "15": 64px, "16": 72px);

// Outline
$outline-sizes: ("1": 1px, "2": 2px, "3": 4px, "4": 6px, "5": 8px, "6": 16px);

// Gap
$gap-sizes: ("1": 2px, "2": 4px, "3": 6px, "4": 8px, "5": 16px, "6": 20px, "7": 24px, "8": 28px, "9": 32px, "10": 36px, "12": 40px);

/////////////
// Layouts //
/////////////
// Flex
$flex-gap-size: ("1": 0px, "2": 2px, "3": 4px, "4": 6px, "5": 8px, "6": 16px);
$flex-basis-size: ("1": 10%, "2": 20%, "3": 30%, "4": 40%, "5": 50%, "6": 60%, "7": 70%, "8": 80%, "9": 90%, "10": 100%);
$flex-max-range: 20; // This is the max number of flex modifiers

// Columns layout
$l-columns-max-columns: 10; // Max number of columns generated

// Rows layout
$l-rows-max-rows: 10; // Max number of rows generated