.#{$global_prefix}padding {
    @each $size, $value in $padding-size {
        &-#{$size} {
            padding: $value;
        }

        &-top-#{$size} {
            padding-top: $value;
        }

        &-left-#{$size} {
            padding-left: $value;
        }

        &-right-#{$size} {
            padding-right: $value;
        }

        // Default
        @if $size == "4" {
            padding: $value;
    
            &-top {
                padding-top: $value;
            }
    
            &-left {
                padding-left: $value;
            }
    
            &-right {
                padding-right: $value;
            }
        }
    }
}