.#{$global_prefix}box-shadow {
    @each $size, $value in $box-shadow-blur-radius-sizes {
        &-#{$size} {
            -webkit-box-shadow: 10px 10px $value 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px $value 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px $value 0px rgba(0,0,0,0.75);
        }

        // Default
        @if $size == "3" {
            -webkit-box-shadow: 10px 10px $value 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px $value 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px $value 0px rgba(0,0,0,0.75);
        }
    }
}