.#{$global_prefix}margin {
    @each $size, $value in $margin-size {
        &-#{$size} {
            margin: $value;
        }

        &-top-#{$size} {
            margin-top: $value;
        }

        &-left-#{$size} {
            margin-left: $value;
        }

        &-right-#{$size} {
            margin-right: $value;
        }

        // Default
        @if $size == "4" {
            margin: $value;
    
            &-top {
                margin-top: $value;
            }
    
            &-left {
                margin-left: $value;
            }
    
            &-right {
                margin-right: $value;
            }
        }
    }
}