@each $color_name, $color in $colors {
    @each $tonality, $hex_value in $color {
        .#{$global-prefix}background-color-#{$color_name}-#{$tonality}{
            background-color: #{$hex_value};
        };

        // Default
        @if $tonality == "4" {
            .#{$global-prefix}background-color-#{$color_name} {
                background-color: #{$hex_value};
            };
        }
    }
}

// Dark mode
@media(prefers-color-scheme: dark) {
    // Left
    @if($dark-mode-position == "left") {
        @each $color_name, $color in $colors {
            @each $tonality, $hex_value in $color {
                .#{$dark-mode-keyword}#{$dark-mode-separator}#{$global-prefix}background-color-#{$color_name}-#{$tonality} {
                    background-color: #{$hex_value};
                };
        
                // Default
                @if $tonality == "4" {
                    .#{$dark-mode-keyword}#{$dark-mode-separator}#{$global-prefix}background-color-#{$color_name} {
                        background-color: #{$hex_value};
                    };
                }
            }
        }
    }
    // Right
    @else {
        @each $color_name, $color in $colors {
            @each $tonality, $hex_value in $color {
                .#{$global-prefix}background-color-#{$color_name}-#{$tonality}#{$dark-mode-separator}#{$dark-mode-keyword} {
                    background-color: #{$hex_value};
                };
        
                // Default
                @if $tonality == "4" {
                    .#{$global-prefix}background-color-#{$color_name}#{$dark-mode-separator}#{$dark-mode-keyword} {
                        background-color: #{$hex_value};
                    };
                }
            }
        }
    }
}