.#{$global_prefix}margin {
    @each $size, $value in $margin-sizes {
        &-#{$size} {
            margin: $value;
        }

        &-top-#{$size} {
            margin-top: $value;
        }

        &-left-#{$size} {
            margin-left: $value;
        }

        &-right-#{$size} {
            margin-right: $value;
        }

        &-horizontal-#{$size} {
            @include margin-horizontal($value);
        }

        &-vertical-#{$size} {
            @include margin-vertical($value);
        }

        // Default
        @if $size == "4" {
            margin: $value;
    
            &-top {
                margin-top: $value;
            }
    
            &-left {
                margin-left: $value;
            }
    
            &-right {
                margin-right: $value;
            }

            &-horizontal {
                @include margin-horizontal($value);
            }
    
            &-vertical {
                @include margin-vertical($value);
            }
        }
    }
}