:root {
    @each $font-name, $font-family in $font-family-variants {
        --font-family-#{$font-name}: #{$font-family};

        @if($font-name == "default") {
            --font-family: #{$font-family};
        }
    }
}

@each $font-name, $font-family in $font-family-variants {
    .#{$global_prefix}font-family-#{$font-name} {
        font-family: $font-family;
    }

    @if($font-name == "default") {
        .#{$global_prefix}font-family {
            font-family: $font-family;
        }
    }
}