@use 'sass:list';

$area-permutations: (
    1: ("a"),
    
    2: ("ab",
        "ba"),

    3: ("abc",
        "acb",
        "bac",
        "bca",
        "cab",
        "cba"),

    4: ("abcd",
        "bacd",
        "cabd",
        "acbd",
        "bcad",
        "cbad",
        "cbda",
        "bcda",
        "dcba",
        "cdba",
        "bdca",
        "dbca",
        "dacb",
        "adcb",
        "cdab",
        "dcab",
        "acdb",
        "cadb",
        "badc",
        "abdc",
        "dbac",
        "bdac",
        "adbc",
        "dabc")
);

.l-area {
    @each $area-num, $area-type in $area-permutations {
        &-#{$area-num} {
            display: grid;

            // Default areas without modifier
            grid-template-areas: list.nth($area-type, 1);

            @each $areas in $area-type {
                &--#{$areas} {
                    // Default with modifier and no direction
                    grid-template-areas: $areas;
                    
                    // Vertical
                    &-vertical {
                        $template-vertical: null;

                        @for $area-index from 1 through str-length($areas) {
                            $template-vertical: $template-vertical + "\"" + str-slice($areas, $area-index, $area-index) + "\"";
                        }

                        grid-template-areas: unquote($template-vertical);
                    }

                    // Horizontal
                    &-horizontal {
                        $template-horizontal: null;

                        @for $area-index from 1 through str-length($areas) {
                            $template-horizontal: $template-horizontal + str-slice($areas, $area-index, $area-index) + " ";
                        }

                        grid-template-areas: $template-horizontal;
                    }
                }
            }
        }

        // Childs
        $current-area-type: list.nth($area-type, 1);

        @for $area-item from 1 through str-length($current-area-type) {
            $area: str-slice($current-area-type, $area-item, $area-item);

            &__area-#{$area} {
                grid-area: unquote($area);
            }
        }
    }
}

////////////////
// RESPONSIVE //
////////////////
@each $size-name, $size in $media-sizes {
    @media (min-width: $size) {
        @if($media-position == 'right') {
            .l-area {
                @each $area-num, $area-type in $area-permutations {
                    &-#{$area-num} {
                        @each $areas in $area-type {
                            &--#{$areas} {
                                // Vertical
                                &-vertical#{$media-separator}#{$size-name} {
                                    $template-vertical: null;
            
                                    @for $area-index from 1 through str-length($areas) {
                                        $template-vertical: $template-vertical + "\"" + str-slice($areas, $area-index, $area-index) + "\"";
                                    }
            
                                    grid-template-areas: unquote($template-vertical);
                                }
            
                                // Horizontal
                                &-horizontal#{$media-separator}#{$size-name} {
                                    $template-horizontal: null;
            
                                    @for $area-index from 1 through str-length($areas) {
                                        $template-horizontal: $template-horizontal + str-slice($areas, $area-index, $area-index) + " ";
                                    }
            
                                    grid-template-areas: $template-horizontal;
                                }
                            }
                        }
                    }
                }
            }
        } @else {
            .#{$size-name}#{$media-separator}l-area {
                @each $area-num, $area-type in $area-permutations {
                    &-#{$area-num} {
                        @each $areas in $area-type {
                            &--#{$areas} {
                                // Vertical
                                &-vertical {
                                    $template-vertical: null;
            
                                    @for $area-index from 1 through str-length($areas) {
                                        $template-vertical: $template-vertical + "\"" + str-slice($areas, $area-index, $area-index) + "\"";
                                    }
            
                                    grid-template-areas: unquote($template-vertical);
                                }
            
                                // Horizontal
                                &-horizontal {
                                    $template-horizontal: null;
            
                                    @for $area-index from 1 through str-length($areas) {
                                        $template-horizontal: $template-horizontal + str-slice($areas, $area-index, $area-index) + " ";
                                    }
            
                                    grid-template-areas: $template-horizontal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}