// TODO: add default values (for example, auto vertical without modifier --vertical)
/* Area layout */
@use 'sass:list';

$area_permutations: (
    2: ("ab",
        "ba"),

    3: ("abc",
        "acb",
        "bac",
        "bca",
        "cab",
        "cba"),

    4: ("abcd",
        "bacd",
        "cabd",
        "acbd",
        "bcad",
        "cbad",
        "cbda",
        "bcda",
        "dcba",
        "cdba",
        "bdca",
        "dbca",
        "dacb",
        "adcb",
        "cdab",
        "dcab",
        "acdb",
        "cadb",
        "badc",
        "abdc",
        "dbac",
        "bdac",
        "adbc",
        "dabc")
    
);

.l-area {
    display: grid;

    @each $area_num, $area_type in $area_permutations {
        &-#{$area_num} {
            @each $areas in $area_type {
                &--#{$areas} {
                    &-vertical {
                        $template-vertical: null;

                        @for $area_index from 1 through str-length($areas) {
                            $template-vertical: $template-vertical + "\"" + str-slice($areas, $area_index, $area_index) + "\"";
                        }

                        grid-template-areas: unquote($template-vertical) + "\a";
                    }

                    &-horizontal {
                        $template-horizontal: null;

                        @for $area_index from 1 through str-length($areas) {
                            @if $area_index == str-length($areas) {
                                $template-horizontal: $template-horizontal + str-slice($areas, $area_index, $area_index);
                            } @else {
                                $template-horizontal: $template-horizontal + str-slice($areas, $area_index, $area_index) + " ";
                            }
                        }

                        grid-template-areas: $template-horizontal;
                    }
                }
            }
        }

        $curr_area_type: list.nth($area_type, 1);
        @debug "current: " + $curr_area_type;

        @for $area_index from 1 through str-length($curr_area_type) {
            $area: str-slice($areas, $area_index, $area_index);

            &__#{$area} {
                grid-area: $area;
            }
        }
    }
}
@each $area_num, $area_type in $area_permutations {
    @each $areas in $area_type {
        @for $area_index from 1 through str-length($areas) {
            //@debug str-slice($areas, $area_index, $area_index);
        }
    }
}