.l-columns {
    display: grid;
    align-items: center;
    justify-content: center;

    @for $column from 1 through $max_columns {
        &--#{$column} {
            grid-template-columns: repeat($column, 1fr);
        }
    }
}

@each $size_name, $size in $media_sizes {
    @media (min-width: $size) {
        @if($media-position == 'right') {
            .l-columns {
                @for $column from 1 through $max_columns {
                    &--#{$column}#{$media-separator}#{$size_name} {
                        grid-template-columns: repeat($column, 1fr);
                    }
                }
            }
        } @else {
            .#{$size_name}#{$media-separator}l-columns {
                @for $column from 1 through $max_columns {
                    &--#{$column} {
                        grid-template-columns: repeat($column, 1fr);
                    }
                }
            }
        }
    }
}