.l-columns {
    display: grid;

    @for $column from 1 through $max_columns {
        &--#{$column} {
            grid-template-columns: repeat($column, 1fr);
        }

        &__area {
            @for $span-num from 1 through 10 {
                &--span-#{$span-num} {
                    grid-column: span $span-num;
                }
            }
        }
    }
}

@each $size_name, $size in $media_sizes {
    @media (min-width: $size) {
        @if($media-position == 'right') {
            .l-columns {
                @for $column from 1 through $max_columns {
                    &--#{$column}#{$media-separator}#{$size_name} {
                        grid-template-columns: repeat($column, 1fr);
                    }

                    &__area {
                        @for $span-num from 1 through 10 {
                            &--span-#{$span-num}#{$media-separator}#{$size_name} {
                                grid-column: span $span-num;
                            }
                        }
                    }
                }
            }
        } @else {
            .#{$size_name}#{$media-separator}l-columns {
                @for $column from 1 through $max_columns {
                    &--#{$column} {
                        grid-template-columns: repeat($column, 1fr);
                    }

                    &__area {
                        @for $span-num from 1 through 10 {
                            &--span-#{$span-num} {
                                grid-column: span $span-num;
                            }
                        }
                    }
                }
            }
        }
    }
}