.l-rows {
    display: grid;

    @for $row from 1 through $l-rows-max-rows {
        &--#{$row} {
            grid-template-rows: repeat($row, 1fr);
        }

        // Default
        @if($row == 2) {
            grid-template-rows: repeat($row, 1fr);
        }
    }

    &__area {
        @for $span-num from 1 through 10 {
            &--span-#{$span-num} {
                grid-row: span $span-num;
            }
        }
    }
}

@each $size-name, $size in $media-sizes {
    @media (min-width: $size) {
        @if($media-position == 'right') {
            .l-rows {
                @for $row from 1 through $l-rows-max-rows {
                    &--#{$row}#{$media-separator}#{$size-name} {
                        grid-template-rows: repeat($row, 1fr);
                    }
                }
            }
        } @else {
            .#{$size-name}#{$media-separator}l-rows {
                @for $row from 1 through $l-rows-max-rows {
                    &--#{$row} {
                        grid-template-rows: repeat($row, 1fr);
                    }
                }
            }
        }
    }
}