.l-rows {
    display: grid;

    @for $row from 1 through $max_rows {
        &--#{$row} {
            grid-template-rows: repeat($row, 1fr);
        }
    }
}

@each $size_name, $size in $media_sizes {
    @media (min-width: $size) {
        @if($media-position == 'right') {
            .l-rows {
                @for $row from 1 through $max_rows {
                    &--#{$row}#{$media-separator}#{$size_name} {
                        grid-template-rows: repeat($row, 1fr);
                    }
                }
            }
        } @else {
            .#{$size_name}#{$media-separator}l-rows {
                @for $row from 1 through $max_rows {
                    &--#{$row} {
                        grid-template-rows: repeat($row, 1fr);
                    }
                }
            }
        }
    }
}