$types: (
    1: 
    "a",

    2:
    "a b"
    "c d",

    3: 
    "a b c"
    "d e f"
    "g h i",

    4: 
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p",
);

.l-squared {
    display: grid;

    @each $name, $areas in $types {
        &--#{$name} {
            grid-template-areas: $areas;
        }

        // Default
        @if($name == 2) {
            grid-template-areas: $areas;
        }
    }

    // Childs
    &__a {grid-area: a;}
    &__b {grid-area: b;}
    &__c {grid-area: c;}
    &__d {grid-area: d;}
    &__e {grid-area: e;}
    &__f {grid-area: f;}
    &__g {grid-area: g;}
    &__h {grid-area: h;}
    &__i {grid-area: i;}
    &__j {grid-area: j;}
    &__k {grid-area: k;}
    &__l {grid-area: l;}
    &__m {grid-area: m;}
    &__n {grid-area: n;}
    &__o {grid-area: o;}
    &__p {grid-area: p;}
}

@each $size-name, $size in $media-sizes {
    @media (min-width: $size) {
        @if($media-position == 'right') {
            .l-squared {
                @each $name, $areas in $types {
                    &--#{$name}#{$media-separator}#{$size-name} {
                        grid-template-areas: $areas;
                    }
                }
            }
        } @else {
            .#{$size-name}#{$media-separator}l-squared {
                @each $name, $areas in $types {
                    &--#{$name} {
                        grid-template-areas: $areas;
                    }
                }
            }
        }
    }
}